@media (prefers-color-scheme: light) {
  div#monkey-app {
    background-color: #f2f2f2;
  }

  #monkey-app button.counter {
    border-color: #adadad;
    background-color: #f2f2f2;
  }
}

#monkey-app {
  padding: 2rem;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #171717;
}

#monkey-app .counter {
  border-radius: 8px;
  border: 1px solid #3e3e3e;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#monkey-app .counter:hover {
  color: #5384ed;
  border-color: #5384ed;
}
